@media (min-width: 1199.98px) {
  :root {
    --h1-size: 108px;
    --h2-size: 52px;
    --h3-size: 27px;
    --h4-size: 21px;
    --h5-size: 19px;
    --h6-size: 14px; } }

@media (max-width: 1199.98px) {
  :root {
    --h1-size: 108px;
    --h2-size: 52px;
    --h3-size: 27px;
    --h4-size: 21px;
    --h5-size: 19px;
    --h6-size: 14px; } }

@media (max-width: 991.98px) {
  :root {
    --h1-size: 88px;
    --h2-size: 41px;
    --h3-size: 23px;
    --h4-size: 18px;
    --h5-size: 17px;
    --h6-size: 13px; } }

@media (max-width: 767.98px) {
  :root {
    --h1-size: 68px;
    --h2-size: 30px;
    --h3-size: 19px;
    --h4-size: 16px;
    --h5-size: 14px;
    --h6-size: 12px; } }

@media (max-width: 575.98px) {
  :root {
    --h1-size: 48px;
    --h2-size: 23px;
    --h3-size: 15px;
    --h4-size: 14px;
    --h5-size: 12px;
    --h6-size: 11px; } }

h1 {
  font-size: var(--h1-size);
  font-weight: 600;
  line-height: 90%; }

h2 {
  font-size: var(--h2-size);
  font-weight: 500;
  line-height: 90%; }

h3 {
  font-size: var(--h3-size);
  font-weight: 500;
  line-height: 90%; }

h4 {
  font-size: var(--h4-size);
  font-weight: 500;
  line-height: 180%; }

h5 {
  font-size: var(--h5-size);
  font-weight: 500; }

h6 {
  font-size: var(--h6-size);
  font-weight: 600; }

.content {
  margin: auto 0; }
  .content .hero {
    background-size: cover;
    justify-content: center;
    display: flex;
    min-height: 100vh;
    padding: 80px 0;
    background-image: url(/images/bg_1_1.jpg);
    background-attachment: fixed;
    background-position: center; }
    .content .hero .container {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center; }
      .content .hero .container .header_1 {
        margin: auto 0 0;
        color: #fff;
        text-transform: uppercase; }
        .content .hero .container .header_1 .box {
          position: relative; }
          .content .hero .container .header_1 .box .over {
            z-index: 2;
            position: relative; }
          .content .hero .container .header_1 .box .under:after {
            content: '';
            position: absolute;
            bottom: 10px;
            left: 0;
            border: 20px solid #115ffe;
            width: 102%; }
      .content .hero .container .header_2 {
        color: #6d7584;
        margin: 20px 0; }
      .content .hero .container .scroll {
        margin: auto 0 0;
        display: flex;
        flex-flow: column wrap; }
        .content .hero .container .scroll img {
          margin: 16px 0; }
  .content .main {
    display: flex;
    flex-flow: column wrap;
    min-height: 100vh;
    align-items: center;
    height: 100%; }
    .content .main .container {
      padding: 80px 0;
      display: flex;
      align-items: center;
      flex-direction: column; }
      .content .main .container .left, .content .main .container .right {
        padding: 0 80px;
        width: 440px; }
      .content .main .container .right {
        background-image: url(../images/pic_1_1.png);
        height: 100vh;
        background-position: center; }
