@media (min-width: 1199.98px) {
  :root {
    --h1-size: 108px;
    --h2-size: 52px;
    --h3-size: 27px;
    --h4-size: 21px;
    --h5-size: 19px;
    --h6-size: 14px; } }

@media (max-width: 1199.98px) {
  :root {
    --h1-size: 108px;
    --h2-size: 52px;
    --h3-size: 27px;
    --h4-size: 21px;
    --h5-size: 19px;
    --h6-size: 14px; } }

@media (max-width: 991.98px) {
  :root {
    --h1-size: 88px;
    --h2-size: 41px;
    --h3-size: 23px;
    --h4-size: 18px;
    --h5-size: 17px;
    --h6-size: 13px; } }

@media (max-width: 767.98px) {
  :root {
    --h1-size: 68px;
    --h2-size: 30px;
    --h3-size: 19px;
    --h4-size: 16px;
    --h5-size: 14px;
    --h6-size: 12px; } }

@media (max-width: 575.98px) {
  :root {
    --h1-size: 48px;
    --h2-size: 23px;
    --h3-size: 15px;
    --h4-size: 14px;
    --h5-size: 12px;
    --h6-size: 11px; } }

h1 {
  font-size: var(--h1-size);
  font-weight: 600;
  line-height: 90%; }

h2 {
  font-size: var(--h2-size);
  font-weight: 500;
  line-height: 90%; }

h3 {
  font-size: var(--h3-size);
  font-weight: 500;
  line-height: 90%; }

h4 {
  font-size: var(--h4-size);
  font-weight: 500;
  line-height: 180%; }

h5 {
  font-size: var(--h5-size);
  font-weight: 500; }

h6 {
  font-size: var(--h6-size);
  font-weight: 600; }

header {
  min-height: 80px;
  height: 80px;
  width: 100%; }
  header .flex {
    flex: 1 auto; }
  header .local {
    color: #f03333;
    font-size: 15px; }
  header .header_items .header_items_logo {
    order: -1;
    flex: 0; }
  header .header_items .header_items_local,
  header .header_items .header_items_search {
    flex: 0; }
  header .header_items .header_items_menu .burger {
    display: none; }
  header .header_items .header_items_menu .nav {
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    color: #222;
    display: flex;
    justify-content: space-between; }
    header .header_items .header_items_menu .nav li {
      position: relative;
      margin-right: 10px; }
      header .header_items .header_items_menu .nav li:after {
        content: '';
        position: absolute;
        right: -15px;
        top: 5px;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 9px solid #e5e5e5; }
      header .header_items .header_items_menu .nav li:first-child:after {
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 9px solid #f03333; }
  @media (max-width: 991.98px) {
    header .header_items .header_items_local,
    header .header_items .header_items_search {
      flex: 1 auto; }
    header .header_items .header_items_menu {
      order: -2; }
      header .header_items .header_items_menu .nav {
        display: none; }
      header .header_items .header_items_menu .burger {
        display: block; } }
