//- includes/footer.jade
footer.container-fluid
	.container
		h2 Get app for free
		h6 And play the sports you love, when you want to play
		include get_app.jade
		
		ul.footer_nav
			each link in footer_nav
					li= link.title