//- includes/footer.jade
footer.container-fluid.d-flex.flex-row
	.container.d-flex.flex-column.flex-wrap
		.header.d-flex.flex-row
			.col
				.logo
					img(src="images/logo_2.svg", alt="")
			.col.d-flex.flex-row.justify-content-end 
				.social
					img(src="images/link_logo.svg", alt="")
		.info.d-flex.flex-row 
			.col
				div 115035, г. Москва, Кадашевская набережная, дом 26 
				div Телефон: 8 (495) 664-39-74
				div Моб. телефон:  8 (985) 134-44-61
				div Эл. почта: <a href="mailto:info@icompliance.ru">info@icompliance.ru</a>

		.copyright.d-flex.flex-row
			.col-3 Сделано в
			.col
				img(src="images/toposlogo.svg", alt="")