//- includes/footer.jade
include button.jade
footer.container-fluid
	.container
		.header Get App for free
		.slogan And play the sports you love, when you want to play
		+button('Get app')
		
		ul.footer_nav
			each link in footer_nav
					li 
						a(href=`#${link.id}`)= link.title