//- includes/header.jade
include ./button.jade
header.container-fluid.d-flex.flex-row.align-items-center#header
	.container.d-flex.flex-row.align-items-center.justify-content-between.header_items
		nav.d-flex.w-100.justify-content-between.align-items-center
			a(href="#hero")
				img(src="images/icon_logo.svg").logo
			ul#navbar
				each link in header_nav
						li.nav-item
							a.nav-link(href=`#${link.id}`)= link.title
			+button('Get app')