//- includes/hero.jade
.hero
	.container
		h1 Play the sport <br/> you love
		h6 Amateur sports gamification platform.
		include get_app.jade
		.scroll
			img(src="/images/icon_scroll.svg")
			span Scroll to learn more