//- includes/hero.jade
include button.jade
.hero
	.container
		h1.header_1
			span.box
				span.over Play
				span.under

			span &nbsp;the sport you&nbsp;
			span.box
				span.over love
				span.under

		h5.header_2 Amateur sports gamification platform.
		+button('Get app')
		.scroll
			img(src="images/icon_scroll.svg")
			span Scroll to learn more