//- includes/main.jade
.main
	.container.d-flex.flex-row
		.left.col-6
			h2.
				Find sports meetups
				nearby or create your
				own

			p.
				Connect with like-minded individuals in your
				vicinity. Use in-app chat to communicate &
				organize games.

		.right.col-6 pics
