//- includes/main.jade
include ./button.jade
.main
	section.container.d-flex.flex-row
		.left.col-6
			h2.
				Find sports meetups
				nearby or create your
				own

			h5.
				Connect with like-minded individuals in your
				vicinity. Use in-app chat to communicate &
				organize games.
			+button('Fing meetups')
		.right.col-6 
