//- includes/main.jade
include section.jade
.main.container-fluid
	+section('Find sports meetups nearby or create your own', 'Connect with like-minded individuals in your vicinity. Use in-app chat to communicate & organize games.', 'Find meetups', 'images/pic_1_1.png', 'images/pic_1_2.png')
	+section('Meet new friends. Socialize healthily.', 'Make new friends faster than you could imagine. Invite them to meetups, manage your circles & get closer to each other.', 'Meet friends', 'images/pic_2_1.png', 'images/pic_2_2.png')
	+section('Create your team & become a legend.', 'Connect with other players to create a team that you have dreamed of. Share your sports memories & achievements faster than ever.', 'Create teams', 'images/pic_3_1.png', 'images/pic_3_2.png')
	+section('Challenge yourself', 'Receive acclaim & bragging rights by earning rewards and merit badges for each meetup..', 'Create teams', 'images/pic_4_1.png', 'images/pic_4_2.png')
	+section('Enrich your sports experience', 'Get access to your personal statistics, teams and sports preferences, fitness level, event participation and rewards.', 'Create teams', 'images/pic_5_1.png', 'images/pic_5_2.png')
