//- includes/main.jade
include section.jade
.main.container-fluid
	+section('Find sports meetups nearby or create your own', 'Connect with like-minded individuals in your vicinity. Use in-app chat to communicate & organize games.', 'Find meetups', 'images/pic_1_1.png', 'images/pic_1_2.png')
	+section('Find sports meetups nearby or create your own', 'Connect with like-minded individuals in your vicinity. Use in-app chat to communicate & organize games.', 'Find meetups', 'images/pic_2_1.png', 'images/pic_2_2.png')
	+section('Find sports meetups nearby or create your own', 'Connect with like-minded individuals in your vicinity. Use in-app chat to communicate & organize games.', 'Find meetups', 'images/pic_3_1.png', 'images/pic_3_2.png')
	+section('Find sports meetups nearby or create your own', 'Connect with like-minded individuals in your vicinity. Use in-app chat to communicate & organize games.', 'Find meetups', 'images/pic_4_1.png', 'images/pic_4_2.png')
	+section('Find sports meetups nearby or create your own', 'Connect with like-minded individuals in your vicinity. Use in-app chat to communicate & organize games.', 'Find meetups', 'images/pic_5_1.png', 'images/pic_5_2.png')
