@import 'vars.scss';
.button {
	width: 180px;
	border-radius: 30px;
	background-color: $blue;
	color: #fff;
	box-shadow: 0 8px 16px rgba(17, 95, 254, 0.35);
	height: 55px;
	transition: .3s ease;
	&:hover {
		background-color: #3576fa;
		color: #FFF;
	}
	@media($XS) {
		margin: auto
	}
	svg {
		height: 21px;
		width: 25px;
		fill: #fff;
	}
	span {
		line-height: 55px;
		padding: 0 13px;
		font-size: 17px;
		white-space: nowrap;
	}
}