@import 'vars.scss'; 
.content {
	margin: auto 0;

	.hero {
		display: flex;
		justify-content: center;
		min-height: 100vh;
		padding: $hPadding 0;
		background-image: url(/images/bg_1_1.jpg);
		background-attachment: fixed;
		background-size: cover;
		background-position: center;
		.container {
			display: flex;
			align-items: center;
			flex-direction: column;
			text-align: center;
			h1 {
				margin: auto 0 0;
			}
			.scroll {   
				margin: auto 0 0;
				display: flex;
				flex-flow: column wrap;
				img {
					margin: 16px 0;
				}
			}
		}
	}
	
	.main {
		display: flex;
		justify-content: center;
		min-height: 100vh;
		padding: $hPadding 0;
		.container {
			display: flex;
			align-items: center;
			flex-direction: column;
		}
	}
}
