@import 'vars.scss'; 
footer {
	display: flex;
	justify-content: center;
	width: 100%;
	min-height: 500px;
	background-image: url(/images/bg_2_1.jpg);
    background-size: cover;
	background-position: center bottom;
	.container {
		display: flex;
		justify-content: center;
		justify-content: space-between;
		align-items: center;
		margin: $hPadding 0;
		flex-direction: column;
		.footer_nav {
			display: flex;
			justify-content: space-around;
			align-items: center;
			width: 100%;
			max-width: 600px;
			padding-left: 0;
			margin-bottom: 0;
			list-style: none;
			li {
				margin: auto;
				color: $blue;
			}
		}
	}
}