@import 'vars.scss';
header {
	position: fixed !important;
	z-index: 10;
	width: 100%;
	min-height: 80px;
	height: 80px;
	.logo {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: $blue;
		color: #fff;
		font-size: 200%;
		font-weight: 600;
	}
	.header_nav {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding-left: 0;
		margin-bottom: 0;
		list-style: none;
		li {
			margin-right: 30px;
		}
	}
}
