@import 'vars.scss';
header {
	position: fixed !important;
	width: 100%;
	min-height: 80px;
	height: 80px;
	margin-top: 60px;
	z-index: 11;
	transition: margin .4s ease;
	@media ($S) {
		padding: 0 !important;
		margin: 10px;
	}
	.container {
		@media ($M) {
			width: 100%;
			padding: 10px !important;
		}
		.logo {
			width: 65px;
			height: 65px;
		}
		.header_nav {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			padding-left: 60px;
			margin-right: 10px;
			margin-bottom: 0;
			margin-left: auto;
			list-style: none;
			text-align: right;
			white-space: nowrap;
			@media ($M) {
				display: none;
			}
			li {
				margin-right: 60px;
				color: #fff;
				font-size: 17px;
				letter-spacing: 0.5px;
				font-weight: 300;
				a {
					color: #fff;
					transition: .2s ease;
					&:hover, &.active {
						color: $blue !important;
					}
				}
			}
		}
	}
	&.black {
		margin-top: 0px;
		background: #FFF;
		.container {
			.header_nav {
				li a {
					color: #000;
				}
			}
		}
	}
}
