@import 'vars.scss';
.hero {
	display: flex;
	justify-content: center;
	min-height: 100vh;
	padding: var(--hPadding) 0;
	background-size: cover;
	background-image: url('../images/bg_1_1.jpg');
	background-position: center;
	z-index: 1;
	@media ($XL) {
		background-attachment: fixed;
	}
	.container {
		display: flex;
		align-items: center;
		min-height: 80vh;
		flex-direction: column;
		text-align: center;
		align-self: center;

		@media (min-width: 370px) and (min-height: 420px) {
			justify-content: center;
		}

		.header_1 {
			line-height: 100%;
			margin: auto 0 0;
			color: $white;
			// text-transform: uppercase;
			font-size: var(--h1-size);
			max-width: 1000px;

			@media (orientation: landscape) and (max-height: 570px) {
				margin-top: 100px;
			}
			@media (max-width: 400px) {
				font-size: var(--h2-size);
				padding-top: 80px;
			}
			@media (max-height: 570px) {
				margin-top: 100px;
			}
			@media (min-height: 570px) {
				margin-top: 20vh;
			}

			.box {
				position: relative;
				.over {
					position: relative;
					z-index: 2;
				}
				.under:after {
					position: absolute;
					bottom: 0;
					left: 0;
					width: 102%;
					height: 40%;
					content: '';
					background: $blue;
				}
			}
		}
		.header_2 {
			line-height: 150%;
			margin: 40px 0 80px;
			font-weight: 300;
			color: #fff;
			font-size: var(--h3-size);
			@media ($S) {
				margin: 30px 0;
			}
		}
		.button {
			margin: 0 auto 40px;
			@media (max-height: 470px) {
				display: none !important;
			}
		}
		.mouse_scroll {
			display: flex;
			align-items: center;
			min-height: 85px;
			color: $blue;
			font-size: var(--h6-size);
			flex-flow: column nowrap;
			opacity:1;
			transition: .7s ease;
			&.hide {
				opacity: 0;
			}

			@media ($M) {
				margin: auto 0 60px;
			}
			@media (max-width: 700px) and (max-height: 900px) {
				display: none;
			}
			@media ($XL) {
				position: absolute;
				bottom: 0;
			}

			@keyframes mouse_scroll {
				0% {
					transform: translateY(0px);
				}
				100% {
					transform: translateY(4px);
					opacity: .5;
					fill: #fff;
				}
			}
			.icon {
				height: 35px;
				margin: 20px 0;
				fill: $blue;
				.roll {
					animation: mouse_scroll 1.18s ease-in infinite;
				}
			}
		}
	}
}
