@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

@import './bootsrap/bootstrap.scss';
@import 'vars.scss'; 
@import 'header.scss';
@import 'content.scss';
@import 'footer.scss';

#app {
	min-height: 100vh;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #9f9f9f;
}

.container-fluid, .container-fluid .container {
	padding: 0;
}

.button {
	width: 120px;
	padding: 5px;
	border-radius: 30px;
	background-color: $blue;
	color: #FFF;
	box-shadow: 0 5px 45px $blue;
	svg {
		height: 15px;
		fill: #FFF;
	}
	span {
		line-height: 30px;
	}
}

