@import 'vars.scss';
.main {
	position: relative;
	display: flex;
	min-height: 100vh;
	flex-flow: column wrap;
	overflow: hidden;
	section {
		&:after {
			content: "";
			border-bottom: 1px solid #ddd;
			position: absolute;
			left: -100%;
			bottom: 0;
			height: 1px;
			min-width: 200vw;
		}
		display: flex;
		padding: $hPadding 0;
		flex-direction: column;
		background: #fff;
		@media ($XL) {
			&:nth-of-type(3) {
				.picture .screenshot2 {
					transform: translateX(-40%);
				}
			}
			&:nth-of-type(4) {
				.picture .screenshot {
					transform: translateY(240px);
				}
				.picture .screenshot2 {
					bottom: -10%;
					transform: translateX(-48%);
				}
			}
		}

		&:nth-of-type(2n) {
			.description {
				order: 2;
				@media ($S) {
					order: 1;
				}
			}
			.picture {
				order: 1;
				transform: translateY(-130px);
				.screenshot2 {
					bottom: 10%;
					transform: translateX(-40%);
					@media ($S) {
						bottom: 20%;
						max-height: 200px;
					}
					@media ($XS) {
						bottom: 20%;
						max-height: 140px;
					}
				}
			}
		}
		h2 {
			line-height: 100%;
			font-weight: 400;
			color: $space_grey;
			font-size: var(--h2-size);
		}
		p {
			line-height: 180%;
			margin: 50px 0;
			font-weight: 400;
			color: $grey;
			font-size: var(--h4-size);
		}
		.description,
		.picture {
			margin-right: auto;
			margin-left: auto;
			@media ($M) {
				padding: 0 $wPadding 60px $wPadding;
			}
			@media ($XS) {
				padding: 0 0 60px !important;
				text-align: center;
			}
		}
		.description {
			max-width: 700px;
			padding: 100px 20px 0 $wPadding;
			margin: auto;
			z-index: 10;

			@media (max-width: 560px) {
				max-width: 400px;
			}
		}
		.picture {
			display: flex;
			justify-content: center;
			overflow: visible;
			img {
				transform: translateY(130px);
			}
			.screenshot {
				@media ($S) {
					max-height: 500px;
				}
				@media ($XS) {
					max-height: 400px;
				}
			}
			.screenshot2 {
				position: absolute;
				bottom: 10%;
				transform: translateX(40%);
				@media ($S) {
					bottom: 20%;
					max-height: 200px;
				}
				@media ($XS) {
					bottom: 20%;
					max-height: 140px;
				}
			}
		}
	}
}
