@import 'vars.scss';
section {
	h2 {
		font-weight: 400;
		color: $space_grey;
		line-height: 100%;
	}
	h5 {
		font-weight: 400;
		margin: 50px 0;
		max-width: 410px;
		color: $grey;
		line-height: 180%;
	}
}