// Box
$XS: 'max-width: 575.98px';
$S: 'max-width: 767.98px';
$M: 'max-width: 991.98px';
$L: 'max-width: 1199.98px';
$XL: 'min-width: 1199.98px';

$hPadding: 80px;
$wPadding: 80px;

//Colors
$blue: #115ffe;
$space_grey: #2d3649;
$grey: #6d7584;
$white: #fff;

