// Box
$XS: 'max-width: 100%';
$S: 'max-width: 980px';
$M: 'max-width: 1200px';
$L: 'max-width: 1400px';
$XL: 'min-width: 1400px';

$hPadding: 80px;
$wPadding: 80px;

//Colors
$blue: #115ffe;
$space_grey: #2d3649;
$grey: #6d7584;
$white: #fff;

